.car-img:hover{
    filter: grayscale(0%);
}
.car-img{filter: grayscale(100%);}

.card-overlay{
    background: #1F2124;
    opacity: 0;
    position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.card1{background: #1F2124; border-color: transparent;}
    
.card:hover .card-overlay{opacity: 1; transform: scale(1.02);}
.card:hover .fa-hand-pointer {visibility: hidden;} 
.card:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
