.car-img:hover{
    filter: grayscale(0%);
}
.car-img{filter: grayscale(100%);}

.card-overlay{
    background: #1F2124;
    opacity: 0;
    position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.card1{background: #1F2124; border-color: transparent;}
    
.card:hover .card-overlay{opacity: 1; transform: scale(1.02);}
.card:hover .fa-hand-pointer {visibility: hidden;} 
.card:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}


    .fluid2{
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
     url(./images/abstract-black-geometric-pattern-with-3d-texture_984067-14297.avif) center/cover no-repeat fixed;
}

.fluid3{
    background:   #383A3F
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  left: 0;
  background: white;
  display: flex;
   align-items:center;
  /* justify-content: center;  */
  transform: translateY(100%);
  width: 100%;
  height: 40%;
  transition: 0.3s ease-in-out;
}
.card2-img:hover .img2 {
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}
.card2-img:hover .overlay {
  opacity: 0.75; transform: translateY(0%);
}
.card2-img i:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}
.card2-img{object-fit: cover; height: auto; max-height: 100%;}
.card2{
    height: 240px;
}



.carousel-2{ height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(./images/Business\ Vision.jpg);
}

.num-1:hover a{color: #ffc107 !important; }
.num-1:hover{border-color: #ffc107 !important;}